body{
    background-color: hsl(30, 38%, 92%);
    margin: 0;
}

img{
    width: 343px;
    border-radius: 10px 0 0 10px;
}

h2{
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-top: 0;
}

h1{
    font-family: fraunces;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

p{
    font-family: Montserrat;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 0;
}

#container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 680px;
    border-radius: 10px;
    margin-top: 40px;
}

#text {
    background-color: white;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 0 10px 10px 0;
}

#price{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: fraunces;
    font-weight: 500;
}

#nova{
    color: hsl(158, 36%, 37%);
    font-size: 30px;
}

#stara{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-weight: 500;
}

button{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding: 14px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#kosik{
    width: 16px;
}

@media only screen and (max-width: 375px){
    #container{
        flex-direction: column;
        width: 90%;
        margin-top: 90px;
    }

    #text{
        border-radius: 0 0 10px 10px ;
        margin: 0;
    }

    #parfem{
        width: 100%;
        border-radius: 10px 10px 0 0;
        height: 230px;
        object-fit: cover;
    }

    h1{
        font-size: 30px;
    }
    h2{
        font-size: 12px;
    }
    p{
        font-size: 12px;
    }

    #nova{
        font-size: 20px;
    }
}